node_modules
client-build
build.txt
config_build.json
config_local*
client/audio/music
.DS_Store
*.swp

# yarn 
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions